
body {
    max-width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif; /* Uma fonte padrão simples */
}

header {
    /* Cor principal: Verde */
    background-color: #2E7D32; 
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #FFFFFF;
    /* Cor secundária: Marrom */
    color: #5D4037; 
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os posts */
}

article {
    display: flex;
    /* Borda marrom */
    border: 2px solid #5D4037; 
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px; /* Cantos arredondados opcionais */
    min-width: 250px; /* Garante que os posts não fiquem muito estreitos */
}

/* Imagens simples quadradas (80px por 80px) */
img {
    width: 80px;
    height: 80px;
    object-fit: cover; /* Ajusta a imagem ao quadrado */
    border-radius: 5px;
}

.artigo-autor {
    font-weight: bold;
}

/* Estilo para os botões usando a cor principal verde */
button {
    background-color: #4CAF50; /* Outro tom de verde para o botão */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin: 4px;
}

button:hover {
    background-color: #388E3C; /* Verde mais escuro no hover */
}
